name: Elixir CI

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MIX_ENV: test

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: "1.14"
            otp: "25"
          - elixir: "1.15"
            otp: "26"
          - elixir: "1.16"
            otp: "26"
          - elixir: "1.17"
            otp: "27"
          - elixir: "1.18"
            otp: "27"
            check_format: true
            check_deps: true
            credo: true
            dialyzer: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Elixir
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}

      - name: Restore dependencies cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}

      - name: Restore PLT cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}

      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Compile prod with warnings as errors
        run: MIX_ENV=prod mix compile --warnings-as-errors

      - name: Run tests
        run: mix coveralls.github

      - name: Check formatting
        run: mix format --check-formatted
        if: ${{ matrix.check_format }}

      - name: Check dependencies
        run: mix deps.unlock --check-unused
        if: ${{ matrix.check_deps }}

      - name: Credo
        run: mix credo
        if: ${{ matrix.credo }}

      - name: Dialyzer
        run: mix dialyzer
        if: ${{ matrix.dialyzer }}
